/**
 * Sidebar
 */

@value size-1                    from 'cc/var/box';
@value logo-size, logo-mini-size from './logo';

@value container-size:      calc(size-1 * 2 + logo-size);
@value container-mini-size: calc(size-1 * 2 + logo-mini-size);
@value header-height:       5rem;

.container {
  composes: flex   from 'cc/flex';
  composes: col    from 'cc/flex/direction';
  composes: gray-7 from 'cc/color/background';
  composes: gray-2 from 'cc/color/color';

  transition: width 0.2s ease-in-out;
  width: container-mini-size;
}

.header {
  composes: center from 'cc/flex';
  composes: all-1  from 'cc/box/padding';
  composes: white  from 'cc/color/color';

  flex: 0 header-height;
}

.expand {
  width: container-size;
}
