/**
 * Input helper.
 *
 * @public
 *
 * @var {size} icon-size
 * @var {size} min-width
 */

@value gray-4 from 'cc/var/color';

@value icon-size: 1.25rem;
@value min-width: calc(icon-size * 1.618);

.helper {
    composes: flex last from 'cc/flex';
    composes: center    from 'cc/flex/justify';
    composes: center    from 'cc/flex/items';
    composes: col       from 'cc/flex/direction';
    composes: pointer   from 'cc/mouse/cursor';

    flex: 0 min-width;
    color: gray-4;
}

.with {
    composes: right-0 from 'cc/box/padding';
}

.icon {
    composes: flex   from 'cc/flex';
    composes: center from 'cc/flex/justify';
    composes: center from 'cc/flex/items';
    composes: all-1  from 'cc/box/padding';
}

.element {
    composes: response width-1 from 'cc/box/size';
}
