/**
 * Console Layout
 *
 * @layout
 *
 * +---------+---------------+
 * |         |    Titlebar   |
 * |         +---------------+
 * |         |               |
 * | Sidebar |               |
 * |         |    Content    |
 * |         |               |
 * |         |               |
 * +---------+---------------+
 */


/**
 * Global reset.
 *
 * @global
 */
html,
body,
body > :global(#app) {
  height: 100%;
}

.app {
  composes: flex from 'cc/flex';
  composes: fit-min-height from 'cc/box/size';
}

.main {
  composes: flex grow from 'cc/flex';
  composes: col       from 'cc/flex/direction';
  composes: relative  from 'cc/position/position';
  background-color: #f3f3f3;
}

.content {
  composes: flex grow from 'cc/flex';
  composes: all   from 'cc/box/border';
  composes: all-2 from 'cc/box/margin';
}
