.menu {
    composes: all-1 from 'cc/box/padding';
}

.item {
    composes: flex from 'cc/flex';
    composes: center from 'cc/flex/justify';
    composes: all-1 from 'cc/box/padding';

    margin-bottom: 1rem;
    color: #ddd;
}

.icon {
    width: 1.25rem;
    height: 100%;
}
