.header {
    composes: flex from 'cc/flex';
    composes: center from 'cc/flex/justify';
    composes: center from 'cc/flex/items';
    composes: all-1 from 'cc/box/padding';
}

.logo {
    width: 32px;
}

.main {
    composes: flex grow from 'cc/flex';
}

.footer {
    composes: flex from 'cc/flex';
    composes: center from 'cc/flex/justify';
    composes: all-1 from 'cc/box/padding';
}

.avatar {
    display: block;
    width: 32px;
    border-radius: 50%;
}
