/**
 * Primary button.
 */

@value primary from '../../../lib/var/color';
@value hover-color:    color(primary shade(20%));
@value active-color:   color(primary shade(50%));
@value disabled-color: color(primary tint(20%));

.button {
    composes: base from './';
    color: white;

    background-color: primary;
    border-color:     primary;

    &:hover {
        background-color: hover-color;
        border-color:     hover-color;
    }

    &:active {
        background-color: active-color;
        border-color:     active-color;
    }

    &[disabled] {
        background-color: disabled-color;
        border-color:     disabled-color;
    }
}
