/**
 * TextArea
 *
 * @public
 *
 * @require textfiled:input
 * @var {size} min-height - Default textarea height
 */

@value min-height: 8rem;

.area {
    composes: input from './';
    min-height: min-height;
    resize: vertical;
}
