/**
 * Input element base style.
 *
 * @private
 *
 * @var {color} disabled-color - #eee
 * @var {color} placeholder-color - #ddd
 */

@value disabled-color:    #eee;
@value placeholder-color: #ddd;

.base {
    composes: inherit from 'cc/font/family';
    composes: ui      from 'cc/font/size';
    composes: fit     from 'cc/box/size';
    composes: none    from 'cc/box/border';
    composes: all-1   from 'cc/box/padding';
    composes: inherit from 'cc/color/color';
    composes: none    from 'cc/color/background';

    &:focus {
        outline: 0;
    }

    &[disabled] {
        background-color: disabled-color;
        border-color:     disabled-color;

        cursor: not-allowed;
    }

    &::-webkit-input-placeholder {
        color: placeholder-color;
    }
    &::-moz-input-placeholder {
        color: placeholder-color;
    }
    &::-ms-input-placeholder {
        color: placeholder-color;
    }
    &::placeholder {
        color: placeholder-color;
    }
}
