/**
 * TextArea
 *
 * @public
 *
 * @require base
 */

@value gray-0 from 'cc/var/color';

@value spin-size: calc(2rem / 2);

.number {
    composes: input from './';

    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

.item {
    composes: all from 'cc/box/radius';

    padding: 0 0.5rem;
    flex: 0 spin-size;

    &:hover {
        background-color: gray-0;
    }
}
